<header class="header">
  <div class="container">
    <nav class="nav">
      <!-- sol taraf -->
      <!-- desktop nav -->
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="/tasty-treats-js-project/index.html">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/tasty-treats-js-project/favorites.html">
            Favorites
          </a>
        </li>
      </ul>

      <!-- logo -->

      <a
        class="nav-logo"
        href="/tasty-treats-js-project/index.html"
        aria-label="Site logo"
      >
        <!-- mobile logo -->
        <svg class="logo-icon logo-mobile">
          <use href="./src/img/favicon.svg#icon-tasty-mob"></use>
        </svg>

        <!-- tablet & desktop logo -->
        <svg class="logo-icon logo-desktop">
          <use href="./src/img/favicon.svg#icon-tasty-desk"></use>
        </svg>
      </a>

      <!-- sag taraf -->

      <div class="header-actions">
        <!-- MODAL BUTON -->

        <a href="#" class="phone-btn" id="openOrderModal">
          <!-- sepet SVG -->
          <svg class="shopping-icon">
            <use href="./img/favicon.svg#icon-shopping"></use>
          </svg>
        </a>

        <!-- bilg.tablet toggle -->
        <button class="desktop-theme-toggle" id="desktopThemeToggle">
          <span class="desktop-toggle-circle"></span>
        </button>

        <!-- hamburger menü -->
        <button class="hamburger-btn" id="hamburgerBtn">
          <svg class="hamburger-icon">
            <use href="./img/favicon.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>

  <!-- mobil menü -->
  <!-- overlay -->
  <div class="menu-overlay" id="menuOverlay"></div>

  <aside class="mobile-menu" id="mobileMenu">
    <!-- close buton -->
    <button class="close-menu-btn" id="closeMenuBtn">
      <svg class="close-icon">
        <use href="./img/favicon.svg#icon-close"></use>
      </svg>
    </button>

    <!-- Mobil nav -->
    <nav class="mobile-nav">
      <a href="/tasty-treats-js-project/index.html" class="mobile-nav-link">
        Home
      </a>

      <a href="/tasty-treats-js-project/favorites.html" class="mobile-nav-link">
        Favorites
      </a>
    </nav>

    <!-- mobile toggle/switch -->
    <button class="theme-toggle" id="themeToggle">
      <span class="toggle-circle"></span>
    </button>
  </aside>
</header>
